body {
    font-family: "Poppins", sans-serif;
}

.page-content {
    margin-top: 100px;
}

footer {
    border-top: 1px solid #8becbb;
    margin-top: 150px;

    p {
        color: #8becbb;
    }
}

.form-control {
    background-color: #8becbb;
}
